<div class="bg-img3 index-resp fonts">

  <div id="splash" class="bg-img">
    <div class="img-resp"><img src="img/logo.png" class="logo-resp"></div>
    <div class="irx-text">
        Indian Reality Exchange
    </div>
   <!--  <div class="social-btn ">
    <button class="button facebook-btn" ng-click="loginFacebook()"><span class="f-icon"><i class="fa fa-facebook fa-lg face-space"></i></span>Facebook</button>
   

    <div><a href='#/login' class="button irx-btn">Login With IRX Account</a>
    <div class="signup-div"><a class="singup-link new-irx" href="#/signup">New to IRX? SignUp</a></div></div>

	</div>

    <div><button class="button irx-btn" ng-click="login()">Login With IRX Account</button>
    <div class="signup-div"><a class="singup-link new-irx" ng-click="signUp()">New to IRX? SignUp</a></div></div>
     -->
	<!--<a id="nextslide" class="load-item"></a>-->
<!-- 	</div> -->
  
<!--<script>
    $.backstretch([
      "img/bg-1280x1920.png"
      
      ], {
        fade: 750,
        duration: 4000
    });
</script>-->
</div>